body{
    font-family: 'Courier New', Courier, monospace;
}
h1{
    background-color: #1d3557;
    color: #f1faee;
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
    padding: 25px;
}

p{
    
    font-size: 18px;
    color:#1d3557;
    font-weight: 700;
    margin: 15px 0 15px 15px;
}


ol{
    list-style-type: decimal;
    margin: 15px 45px;
    font-size: 16px;
    
  }  

  ul{
    list-style-type: circle;
    margin: 15px  45px;
    font-size: 16px;
    
  }

  .column{
    display: flex;
    justify-content: space-around;
    color: #f1faee;
    margin-top: 100px;
  }

  .col{
    background-color: #1d3557;
  }

  .light{
    color: #f1faee;
  }

  .list{
    background: #457b9d;
    margin-top: 150px;
    padding: 20px;
   
  }